@use "../../styles/_index.scss" as *;

.button {
	background-color: $clr-primary-accent;
	position: relative;
	color: $clr-primary-light;
	height: 4rem;
	padding: 0 3.2rem;
	border-radius: 0.4rem;
	text-transform: uppercase;
	@include flex;
	width: 100%;
	@include font-labels-buttons;

	@include media-tablet {
		max-width: 15rem;
	}

	&:hover {
		background-color: $clr-secondary-accent;
	}

	&__logo {
		position: absolute;
		left: 1rem;
		height: 2rem;
	}

	&__message {
		vertical-align: center;
	}
}
