@use "./variables" as *;
//Media Queries Mixins

@mixin media-tablet {
	@media only screen and (min-width: $breakpoint-tablet) {
		@content;
	}
}

@mixin media-desktop {
	@media only screen and (min-width: $breakpoint-desktop) {
		@content;
	}
}

//Font Sizing Mixins

@mixin font-page-header {
	font-size: 2.4rem;
	line-height: 3.2rem;
	font-family: "AvenirBold";

	@include media-tablet {
		font-size: 33rem;
		line-height: 4.4rem;
		font-family: "AvenirBold";
	}
}

@mixin font-section-header {
	font-size: 1.2rem;
	line-height: 2rem;
	font-family: "AvenirBold";
	@include padding-v-headline;

	@include media-tablet {
		font-size: 2rem;
		line-height: 1.2rem;
		font-family: "AvenirBold";
	}
}

@mixin font-sub-header {
	font-size: 1.3rem;
	line-height: 1.8rem;
	font-family: "AvenirBold";

	@include media-tablet {
		font-size: 2.4rem;
		line-height: 3.2rem;
		font-family: "AvenirBold";
	}
}

@mixin font-body-copy {
	font-size: 1.3rem;
	line-height: 1.8rem;
	font-family: "AvenirRegular";

	@include media-tablet {
		font-size: 1.4rem;
		line-height: 2.2rem;
		font-family: "AvenirRegular";
	}
}

// @mixin font-footer-copy {
// 	font-size: 1.3rem;
// 	line-height: 1.8rem;
// 	font-family: "AvenirRegular";

// 	@include media-tablet {
// 		font-size: 1.4rem;
// 		line-height: 2rem;
// 		font-family: "AvenirRegular";
// 	}
// }

@mixin font-labels-buttons {
	font-size: 1rem;
	line-height: 2rem;
	font-family: "AvenirRegular";

	@include media-tablet {
		font-size: 1.2rem;
		line-height: 2rem;
		font-family: "AvenirRegular";
	}
}

//Padding for Headlines

@mixin padding-v-headline {
	padding-top: 2.4rem;
	padding-bottom: 1.6rem;

	@include media-tablet {
		padding-top: 4.8rem;
		padding-bottom: 3.6rem;
	}
}

@mixin padding-v-component {
	padding: 1.6rem 0;

	@include media-tablet {
		padding: 3.6rem 0;
	}
}

// Modular Flex Mixin
// Defaults to Center Center Row

@mixin flex(
	$justify: center,
	$align: center,
	$direction: row
) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
}
