@use './styles/_index.scss' as *;


.App {
  text-align: center;
  margin: 0 auto;
  @include padding-site;
  
  }

  .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.input-field{
  height: 4rem;
  outline: none;
  border: 1px solid $clr-secondary-medium;
  border-radius: 4px;
  &:focus{
    border: 2px solid $clr-primary-accent;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
