@use "./styles/_index.scss" as *;

.App {
	@include flex(center, center, column);
}
.header__container,
.main,
.upload {
	@include padding-site;
	margin: 0 auto;
}

.main {
  width: 100%;
	@include flex(flex-start, center, column);
	justify-content: flex-start;
	align-items: flex-start;

	@include media-desktop {
		@include flex;
		justify-content: flex-start;
		align-items: flex-start;
	}

	&__left {
		width: 100%;
		@include media-desktop {
			max-width: 56rem;
			border-right: $border-line;
		}
	}
}

// .input-field {
// 	border: 1px solid $clr-primary-dark;
// 	width: 100%;
// 	padding: 1rem;
// 	border-radius: 4px;
// 	@include font-body-copy;
// 	color: $clr-primary-dark;
// 	min-height: 4rem;
// 	&::placeholder {
// 		color: $clr-primary-dark;
// 	}
// 	&:focus {
// 		outline: none;
// 		border: 2px solid $clr-primary-accent;
// 	}
// }

.input-field {
	box-sizing: border-box;
	border: 1px solid $clr-primary-medium;
	width: 100%;
	padding: 1rem;
	border-radius: 4px;
	@include font-body-copy;
	resize: none;
	color: $clr-primary-dark;

	&::placeholder {
		@include font-body-copy;
		color: $clr-primary-dark;
	}
	&:focus {
		border: 2px solid $clr-primary-accent;
	}
}

.input-field--error {
	border: 2px solid $clr-error;
}

.comments {
	&__container {
		display: flex;
		flex-wrap: wrap;
	}

	&__avatar {
		align-self: flex-end;
		// margin-bottom: 1.6rem;
	}
}

.comments__form-wrapper {
	@include flex(flex-start, flex-start, row);
	width: 100%;
	padding-bottom: 2.4rem;
}
