@use "../../styles//partials/utils/index" as *;

.info {
	&__container {
		@include media-desktop {
			padding-right: 2.4rem;
		}
	}

	&__title {
		@include font-page-header;
		color: $clr-primary-dark;
	}

	&__author {
		@include font-sub-header;
		color: $clr-primary-dark;
	}

	&__stats-container {
		@include flex(space-between, center, row);
		padding: 1.6rem 0;
		border-top: $border-line;
		@include media-tablet {
			padding-top: 0;
			border-top: none;
		}
	}

	&__left {
		@include flex(flex-start, flex-start, column);
		gap: 1.6rem;
		width: 100%;
		@include media-tablet {
			@include flex(flex-start, center, row);
		}
	}
	&__date {
		@include font-body-copy;
		color: $clr-primary-medium;
	}
	&__right {
		@include flex(flex-start, flex-start, column);
		gap: 1.6rem;
		width: 100%;
		@include media-tablet {
			@include flex(flex-end, center, row);
		}
	}
	&__wrapper {
		@include flex(flex-start, center, row);
	}

	&__icon {
		padding-right: 1rem;
	}
	&__count {
		@include font-body-copy;
		color: $clr-primary-medium;
	}

	&__description {
		border-top: $border-line;
		@include font-body-copy;
		@include padding-v-component;
	}
  &__bottom{
		padding-bottom: 1.6rem;
    @include flex(space-between, center, row)
  }
	&__comments-count {
		@include font-sub-header;
		color: $clr-primary-dark;
	}
	&__like-btn {
		@include font-body-copy;
		color: $clr-primary-medium;
	}
}
